p{
    font-size: 14px;
}

h1{
    font-size: 24px;
    margin: 0;
}

.content{
    background-color: white;
    margin: 10px auto;
    width: 600px;
    border: 1px solid #dadada;
    padding: 30px;
}

input{
    border: none;
    border-bottom: 1px solid #d1d1d1;
    font-size: 1.2em;
    width: 100%;
    padding: 8px;
}

button{
    width: 100%;
    background-color: blue;
    color: white;
    padding: 15px;
    border: 0;
    border-radius: 3px;
    box-shadow: 0 0 8px rgba(0, 0, 0, .5);
}

.required{
    background-color: #fee;
    color: red;
    font-size: .9em;
    padding: 3px;
    font-weight: bold;
}

body{
    background-color: #fafafa;
}
.control{
    margin-bottom: 3em;
}

label{
    display: block;
    margin-bottom: .5em;
}